# @DISTRO_NAME@ boot menu theme. Disable with: horizon boot theme off
# The theme is copied to /boot so it also works with an encrypted root.
GRUB_THEME=/boot/grub/themes/horizon/theme.txt
GRUB_GFXMODE=1920x1080,1280x800,1024x768,auto
GRUB_GFXPAYLOAD_LINUX=keep
GRUB_TERMINAL_OUTPUT=gfxterm
